ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  margin: auto;
}
img {
  display: block;

  border-radius: 5px;
  /* box-shadow: 0 0 5px rgba(0, 0, */
  transition: transform 0.3s ease;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.modal {
  background-color: rgba(46, 47, 66, 0.8);
}
